
:root {
  --blue-color: #0075ff;
  --blue-alt: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-duration: 0.3s;
}
/* Start box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-btw {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.d-grid {
  display: grid;
}
.grid-column {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* End box */
/* Start padding and margin */
.p-2 {
  padding: 2px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-70 {
  padding-left: 70px;
}
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-auto {
  margin-right: auto;
}
.mr-0 {
  margin-right: 0;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-auto {
  margin-left: auto;
}
.ml-0 {
  margin-left: 0;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-20- {
  margin-left: -20px;
}
/* End padding and margin */
/* Start bg and color */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-twitter {
  background-color: rgb(29 161 242 / 20%);
}
.bg-twitter-i {
  background-color: #1da1f2;
}
.bg-twitter-a {
  background-color: #1da1f2;
}
.bg-facebook {
  background-color: rgb(24 119 242 / 20%);
}
.bg-facebook-i {
  background-color: #1da1f2;
}
.bg-facebook-a {
  background-color: #1da1f2;
}
.bg-youtube {
  background-color: rgb(255 0 0 / 20%);
}
.bg-youtube-i {
  background-color: #ff0000;
}
.bg-youtube-a {
  background-color: #ff0000;
}
.bg-linkedin {
  background-color: rgb(0 119 181 / 20%);
}
.bg-linkedin-i {
  background-color: #0077b5;
}
.bg-linkedin-a {
  background-color: #0077b5;
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
.c-twitter {
  color: #1da1f2;
}
.c-facebook {
  color: #1da1f2;
}
.c-youtube {
  color: #ff0000;
}
.c-linkedin {
  color: #0077b5;
}
/* End bg and color */
/* Start postion */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
/* End postion */
/* Start Fonts */
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
.txt-c {
  text-align: center
}
.txt-capital {
  text-transform: capitalize;
}
.line-through {
  text-decoration: line-through;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .label-fit {
    margin: 10px auto;
    width: fit-content;
  }
}
/* End Fonts */
/* Start Border and Box-Shadow*/
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-top-eee {
  border-top: 1px solid #eee;
}
.border-bt-ccc {
  border-bottom: 1px solid #ccc;
}
.border-rt-eee {
  border-right: 1px solid #eee;
}
.border-bt-eee {
  border-bottom: 1px solid #eee;
}
.border-lf-eee {
  border-left: 1px solid #eee;
}
.border-left-blue {
  border-left: 2px solid var(--blue-color);
}
.border-left-green {
  border-left: 2px solid var(--green-color);
}
.border-left-orange {
  border-left: 2px solid var(--orange-color);
}
.border-left-red {
  border-left: 2px solid var(--red-color);
}
.box-shad {
  box-shadow: 0 0 10px #ddd;
}
.b-none {
  border: none;
}
.spacing-0 {
  border-spacing: 0;
}
/* End Border and Box-Shadow */
/* Start Width and Height */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.w-15 {
  width: 15px;
}
.w-32 {
  width: 32px;
}
.w-40 {
  width: 40px;
}
.w-48 {
  width: 48px;
}
.w-52 {
  width: 52px;
}
.w-100 {
  width: 100px;
}
.w-160 {
  width: 160px;
}
.w-250 {
  width: 250px;
}
.min-w-1000 {
  min-width: 1000px;
}
.h-5 {
  height: 5px;
}
.h-15 {
  height: 15px;
}
.h-32 {
  height: 32px;
}
.h-40 {
  height: 40px;
}
.h-48 {
  height: 48px;
}
.h-full {
  height: 100%;
}
.min-h-140 {
  min-height: 140px;
}
.line-height {
  line-height: 1.8;
}
.flow-hid {
  overflow: hidden;
}
.flowx-auto {
  overflow-x: auto
}
/* End Width and Height */
/* Start Components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Componnent */
/* Start Transition */
.w-trans {
  transition: width var(--main-duration);
}
.main-tran {
  transition: var(--main-duration);
}
.opacity-3 {
  opacity: 0.3;
}
.cursor {
  cursor: pointer;
}
/* End Transition */