
:root {
  --blue-color: #0075ff;
  --blue-alt: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-duration: 0.3s;
}
/* Start box */
.d-flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.align-center {
  align-items: center;
}
.space-btw {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.d-grid {
  display: grid;
}
.grid-column {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.grid-column-250 {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (max-width: 767px) {
  .grid-mobile {
    grid-template-columns: minmax(100px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .wrap-mobile {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .w-full-mobile {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .column-mobile {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .border-r-hid-mob{
    border-right: 1px solid #eee;
  }
}
@media (min-width: 768px) {
  .w-b-ticket {
    width: calc(50% - 10px);
  }
}
@media (max-width: 767px) {
  .mb-20-mob {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .mb-15-mob {
    margin-bottom: 15px;
  }
}
.d-none {
  display: none;
}
.appear-none {
  appearance: none;
}
/* End box */
/* Start padding and margin */
.p-2 {
  padding: 2px;
}
.p-3 {
  padding: 3px;
}
.p-2-5 {
  padding: 2px 5px;
}
.p-3-8 {
  padding: 3px 8px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-10-15 {
  padding: 10px 15px;
}
.p-15-0 {
  padding: 15px 0;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-70 {
  padding-left: 70px;
}
.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-32- {
  margin-top: -32px;
}
.mr-auto {
  margin-right: auto;
}
.mr-0 {
  margin-right: 0;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-10- {
  margin-bottom: -10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-auto {
  margin-left: auto;
}
.ml-0 {
  margin-left: 0;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-20- {
  margin-left: -20px;
}
/* End padding and margin */
/* Start bg and color */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-ccc {
  background-color: #ccc;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-twitter {
  background-color: rgb(29 161 242 / 20%);
}
.bg-twitter-i {
  background-color: #1da1f2;
}
.bg-twitter-a {
  background-color: #1da1f2;
}
.bg-facebook {
  background-color: rgb(24 119 242 / 20%);
}
.bg-facebook-i {
  background-color: #1da1f2;
}
.bg-facebook-a {
  background-color: #1da1f2;
}
.bg-youtube {
  background-color: rgb(255 0 0 / 20%);
}
.bg-youtube-i {
  background-color: #ff0000;
}
.bg-youtube-a {
  background-color: #ff0000;
}
.bg-linkedin {
  background-color: rgb(0 119 181 / 20%);
}
.bg-linkedin-i {
  background-color: #0077b5;
}
.bg-linkedin-a {
  background-color: #0077b5;
}
.bg-f6 {
  background-color: #f6f6f6;
}
.bg-f0f4f8 {
  background-color: #f0f4f8;
}
.bg-blue-icon {
  background-color: rgb(0 117 255/ 20%);
}
.bg-blue-progress {
  background-color: rgb(0 117 255/ 20%);
}
.bg-orange-icon {
  background-color: rgb(245 158 11/ 20%);
}
.bg-orange-progress {
  background-color: rgb(245 158 11/ 20%);
}
.bg-green-icon {
  background-color: rgb(34 197 94/ 20%);
}
.bg-green-progress {
  background-color: rgb(34 197 94/ 20%);
}
.bg-red-icon {
  background-color: rgb(244 67 54/ 20%);
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
.c-twitter {
  color: #1da1f2;
}
.c-facebook {
  color: #1da1f2;
}
.c-youtube {
  color: #ff0000;
}
.c-linkedin {
  color: #0077b5;
}
.c-bbb {
  color: #bbb;
}
.c-666 {
  color: #666;
}
/* End bg and color */
/* Start postion */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.top-10 {
  top: 10px;
}
.top-13- {
  top: -13px;
}
.top-20 {
  top: 20px;
}
.top-half {
  top: 50%;
}
.right-0 {
  right: 0;
}
.right-10 {
  right: 10px;
}
.right-16 {
  right: -16px;
}
.bottom-0 {
  bottom: 0;
}
.bottom-16 {
  bottom: 16px;
}
.left-0 {
  left: 0;
}
.left-10 {
  left: 10px;
}
.left-20 {
  left: 20px;
}
.left-20- {
  left: -20px;
}
.left-25 {
  left: 25px;
}
.left-50 {
  left: 50px;
}
.left-half {
  left: 50%;
}
.left-75 {
  left: 75px;
}
.left-100 {
  left: 100px;
}
.translatex-50 {
  transform: translateX(-50%);
}
.translatey-50 {
  transform: translateY(-50%);
}
/* End postion */
/* Start Fonts */
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-25 {
  font-size: 25px;
}
.fs-40 {
  font-size: 40px;
}
.fw-bold {
  font-weight: bold;
}
.fw-noraml {
  font-weight: normal;
}
.txt-c {
  text-align: center
}
.txt-capital {
  text-transform: capitalize;
}
.line-through {
  text-decoration: line-through;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .label-fit {
    margin: 10px auto;
    width: fit-content;
  }
}
/* End Fonts */
/* Start Border and Box-Shadow*/
.rad-i {
  border-radius: 6px 0 0 6px;
}
.rad-input {
  border-radius: 0 6px 6px 0;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-16 {
  border-radius: 16px;
}
.rad-half {
  border-radius: 50%;
}
.border-ddd {
  border: 1px solid #ddd;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-bt-ccc {
  border-bottom: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}
.border2-eee {
  border: 2px solid #eee;
}
.border2-white {
  border: 2px solid white;
}
.border-top-eee {
  border-top: 1px solid #eee;
}
.border-rt-eee {
  border-right: 1px solid #eee;
}
.border-bt-eee {
  border-bottom: 1px solid #eee;
}
.border-lf-eee {
  border-left: 1px solid #eee;
}
.border-left-blue {
  border-left: 2px solid var(--blue-color);
}
.border-left-green {
  border-left: 2px solid var(--green-color);
}
.border-left-orange {
  border-left: 2px solid var(--orange-color);
}
.border-left-red {
  border-left: 2px solid var(--red-color);
}
.border3-white {
  border: 3px solid white;
}
.outline-3 {
  outline: 3px solid transparent;
}
.outline-green {
  outline-color: var(--green-color);
}
.outline-blue {
  outline-color: var(--blue-color);
}
.outline-orange {
  outline-color: var(--orange-color);
}
.box-shad {
  box-shadow: 0 0 10px #ddd;
}
.box-shad-5 {
  box-shadow: 0 0 5px #ddd;
}
.b-none {
  border: none;
}
.b-right-none {
  border-right: none;
}
.spacing-0 {
  border-spacing: 0;
}
.resize-none {
  resize: none;
}
/* End Border and Box-Shadow */
/* Start Width and Height */
.w-full {
  width: 100%;
}
.max-w-100 {
  max-width: 100%;
}
.w-fit {
  width: fit-content;
}
.w-15 {
  width: 15px;
}
.w-32 {
  width: 32px;
}
.w-40 {
  width: 40px;
}
.w-48 {
  width: 48px;
}
.w-52 {
  width: 52px;
}
.w-64 {
  width: 64px;
}
.w-70-percent {
  width: 70%;
}
.w-78 {
  width: 78px;
}
.w-80 {
  width: 80px;
}
.w-100 {
  width: 100px;
}
.w-120 {
  width: 120px;
}
.w-160 {
  width: 160px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.min-w-260 {
  min-width: 260px;
}
.w-300 {
  width: 300px;
}
.min-w-1000 {
  min-width: 1000px;
}
.w-email {
  width: calc(100% - 80px);
}
.h-5 {
  height: 5px;
}
.h-6 {
  height: 6px;
}
.h-8 {
  height: 8px;
}
.h-15 {
  height: 15px;
}
.h-27 {
  height: 27px;
}
.h-32 {
  height: 32px;
}
.h-40 {
  height: 40px;
}
.h-48 {
  height: 48px;
}
.h-64 {
  height: 64px;
}
.h-80 {
  height: 80px;
}
.min-h-80 {
  min-height: 80px;
}
.h-100 {
  height: 100px;
}
.h-120 {
  height: 120px;
}
.h-full {
  height: 100%;
}
.h-200 {
  height: 200px;
}
.min-h-140 {
  min-height: 140px;
}
.min-h-160 {
  min-height: 160px;
}
.line-height {
  line-height: 1.8;
}
.line-h {
  line-height: 1.6;
}
.flow-hid {
  overflow: hidden;
}
.flowx-auto {
  overflow-x: auto
}
/* End Width and Height */
/* Start Components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Componnent */
/* Start Transition */
.w-trans {
  transition: width var(--main-duration);
}
.main-tran {
  transition: var(--main-duration);
}
.opacity-1 {
  opacity: 0.1;
}
.opacity-2 {
  opacity: 0.2;
}
.opacity-3 {
  opacity: 0.3;
}
.cursor {
  cursor: pointer;
}
.cursor-no-drop {
  cursor: no-drop;
}
/* End Transition */