
:root {
  --blue-color: #0075ff;
  --blue-alt: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-duration: 0.3s;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Start Sidebar */
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
  bottom: -29px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* End Sidebar */
/* Start Content */
.content .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
  font-size: 14px;
}
.content .search input:hover {
  width: 200px;
}
.content .search input:focus::placeholder {
  opacity: 0;
}
.content .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
  top: -5px;
  right: -5px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: -10px;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 50px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
/* End Content */
/* Start Welcome */
.welcome .visit:hover {
  background-color: var(--blue-alt);
}
@media (max-width: 767px) {
  .welcome .info {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
}
/* End Welcome */
/* Start quick-draft */
.quick-draft .save:hover {
  background-color: var(--blue-alt);
}
/* End quick-draft */
/* Start Target */
.targets .details .progress > span span::after {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
/* End Target */
/* Start Latest News */
@media (max-width: 767px) {
  .latest-news .news-row {
    display: block;
  }
}
/* End Latest News */
/* Start Latest Tasks */
.tasks .delete:hover {
  color: var(--red-color);
}
/* End Latest Tasks */
/* Start Last Project */
.last-project ul::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  left: 10px;
  background-color: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  position: relative;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.6s infinite alternate;
}
/* End Last Project */
/* Start Project Tabel */
.projects tbody tr:hover {
  background-color: #faf7f7;
}
/* End Project Tabel */
/* Start Settings Page */
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: var(--main-duration);
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
/* Start General Info */
.settings-page .email {
  display: inline-flex;
}
/* End General Info */
/* Start Security Info */
.sec-box .button:hover {
  background-color: var(--blue-alt);
}
/* End Security Info */
/* Start Social Info */
.settings-page .social-boxes > div:focus-within i {
  color: black;
}
/* End Social Info */
/* Start Widgets control */
.widgets-control .control label::before,
.widgets-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
}
.widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widgets-control .control label:hover::before {
  border-color: var(--blue-alt);
}
.widgets-control .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  font-size: 12px;
  width: 18px;
  height: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: var(--main-duration);
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
/* End Widgets control */
/* Start Backup Manager */
.backup-control .date label::before,
.backup-control .date label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.backup-control .date label::before {
  left: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
  margin-top: -11px;
}
.backup-control .date label::after {
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  transition: var(--main-duration);
  transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup-control .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* End Backup Manager */
/* End Settings Page */
/* Start Animation */
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
/* End Animation */